@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #198754;
}

/* Global scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #157347; /* Darker green */
}

/* Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #f8f9fa;
}
